<nav class="nav-bar">
    <a href="/">
        <img
            src="{{ url_for("static", path="images/zeek-logo-blue-black-rgb-horizontal.png") }}"
            alt="The official Zeek logo"
            loading="lazy"
            height="auto"
            width="150px"
        />
    </a>
    <ul class="top-nav" id="top-nav">
        <li><a href="/" class="nav-link">Home</a></li>
        <li><a href="/packages/" class="nav-link">Packages</a></li>
        <li><a href="/about/" class="nav-link">Example</a></li>
    </ul>
</nav>
