{% extends "template.html" %}

{% block title %}
Zeek Package Repository
{% endblock %}

{% block content %}
<h1>Zeek Package Manager</h1>
<div class="search-container">
    <form method="POST" action="/search">
        <input class="search-bar" type="text" name="search" placeholder="Search" /><button type="submit" class="submit-search"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
</div>

<div class="row-info-container">
    <div class="column-info-container">
        <h2>New packages</h2>
        <ul>
            96 <img src="../static/images/eye.png" 
            width="12px" height="auto">
            zeek-conn-footprint
        </ul>
        <ul>
            56 <img src="../static/images/eye.png" 
            width="12px" height="auto">
            zeekjs-misp
        </ul>    
    </div>
    <div class="column-info-container">
        <h2> Popular packages</h2>
        <ul>
            532 <img src="../static/images/star.png" 
            width="12px" height="auto">
            ja3
        </ul>
        <ul>
            464 <img src="../static/images/star.png" 
            width="12px" height="auto">
            bzar
        </ul>
        <ul>
            214 <img src="../static/images/star.png" 
            width="12px" height="auto">
            hassh
        </ul>
    </div>
    <div class="column-info-container">
        <h2> Just Updated</h2>
        <ol>
            10/10/23, 4:13 AM - shodan-zeek
        </ol>
        <ol>
            10/9/23, 4:30 PM - zeek-exporter
        </ol>

    </div>
</div>
{% endblock %}
