{% extends "template.html" %}

{% block title %}
Zeek Package Repository
{% endblock %}

{% block content %}
<h1>Zeek Package Manager</h1>
<div class="search-container">
    <form method="POST" action="/search">
        <input class="search-bar" type="text" name="query" placeholder="Search" /><button type="submit" class="submit-search"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
</div>


<div class="row-info-container">
    <div class="column-info-container">
        <h2>New packages</h2>
        <ul>
            96 <img src="../static/images/eye.png"
            width="12px" height="auto">
            <a href=https://nau.zeek.org/packages/zeek-netmap>zeek-netmap</a>
        </ul>
        <ul>
            56 <img src="../static/images/eye.png"
            width="12px" height="auto">
            <a href=https://nau.zeek.org/packages/spicy-zip> spizy-zip</a>
        </ul>
    </div>
    <div class="column-info-container">
        <h2> Popular packages</h2>
        <ul>
            532 <img src="../static/images/star.png"
            width="12px" height="auto">
            <a href= https://nau.zeek.org/packages/ja3>ja3</a>
        </ul>
        <ul>
            464 <img src="../static/images/star.png"
            width="12px" height="auto">
            <a href= https://nau.zeek.org/packages/bzar>bzar</a>
        </ul>
        <ul>
            214 <img src="../static/images/star.png"
            width="12px" height="auto">
            <a href= https://nau.zeek.org/packages/hassh>hassh</a>
        </ul>
    </div>
    <div class="column-info-container">
        <h2> Just Updated</h2>
        <ol>
            12/1/23, 4:14 AM - <a href=https://nau.zeek.org/packages/shodan-zeek>showdan-zeek</a>
        </ol>
        <ol>
            11/30/23, 4:36 AM - <a href=https://nau.zeek.org/packages/domain-tld>domain-tld</a>
        </ol>

    </div>
</div>
{% endblock %}
